{% extends "base.html.twig" %}

{% block javascritpt %}
{% endblock %}

{% block main %}
    <h1>Hello World!!</h1>
    <section>
        <div id="chartContainer-1" style="height: 370px; width: 100%;"></div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">WordPress trend</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Runs Test</td>
                        <td>P < 0.05 ({{ stats.wp.after.runs.p }})</td>
                    </tr>
                    <tr>
                        <td>Linear regression</td>
                        <td>{{ stats.wp.after.regression.equation }}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">PHP trend</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Runs Test</td>
                        <td>P < 0.05 ({{ stats.php.after.runs.p }})</td>
                    </tr>
                    <tr>
                        <td>Linear regression</td>
                        <td>{{ stats.php.after.regression.equation }}</td>
                    </tr>
                </tbody>
            </table>

            <h3>Correlation WordPress and PHP trend</h3>
            <p>Pearson's Correlation (r): {{ stats.correlation.after.pearson }}</p>
        </div>
    </section>

    <script>
        window.onload = function () {
        {{ include("includes/_2chart.js.twig", {
            chartId: 1, 
            chartColor1: "#4F5B93",
            chartColor2: "#0f0f0f",
            chartTitle: "2021-01 to 2021-12", 
            chartYTitle1: "Relative Interest", 
            chartYTitle2: "PHP", 
            chartLegend1: "WordPress", 
            chartLegend2: "PHP", 
            chartData1: stats.wp.after.data|json_encode,
            chartData2: stats.php.after.data|json_encode}) }}


        }
        </script>


        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

{% endblock %}